@import url('font.css');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  padding: 20px 0;

  background: url('../img/newyork_blur.jpg') 50%/cover no-repeat scroll;
}

.container {
  margin: 0 auto;
  max-width: 1200px;

  background: url('../img/newyork_blur_1.jpg') 50%/cover no-repeat fixed;
  color: #fff;
  text-align: center;
}

.container > h1,
.container > h3 {
  margin: 0 auto 15px;
  max-width: 400px;

  background-color: rgba(0, 0, 0, .7);
  text-transform: uppercase;
  letter-spacing: 3px;
}

.photo {
  margin: 0 auto;
  max-width: 600px;
  height: 400px;

  background: url('../img/newyork.jpg') 50%/cover no-repeat;
  border: 10px solid #fff;
}

.metro {
  display: flex;
  margin: 30px auto;
  max-width: 800px;

  flex-wrap: wrap;
  justify-content: center;
}

.metro__photo {
  margin: 0 10px 0 0;
  width: 400px;
  height: 300px;

  background: url('../img/metro.gif') 50%/cover no-repeat;
}

.metro__about {
  padding: 0 10px;
  max-width: 390px;

  background-color: rgba(0, 0, 0, .7);
  text-align: left;
}

.look {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
}

.look__photo_1 {
  margin: 10px;
  width: 350px;
  height: 250px;

  background: url('../img/building_1.jpg') 50%/cover no-repeat;
}

.look__photo_2 {
  margin: 10px;
  width: 350px;
  height: 250px;

  background: url('../img/building_2.jpg') 50%/cover no-repeat;
}

.look__photo_3 {
  margin: 10px;
  width: 350px;
  height: 250px;

  background: url('../img/building_3.jpg') 50%/cover no-repeat;
}

.look__photo_4 {
  margin: 10px;
  width: 350px;
  height: 250px;

  background: url('../img/building_4.jpg') 50%/cover no-repeat;
}

.look__photo_5 {
  margin: 10px;
  width: 350px;
  height: 250px;

  background: url('../img/building_5.jpg') 50%/cover no-repeat;
}

.look__photo_6 {
  margin: 10px;
  width: 350px;
  height: 250px;

  background: url('../img/building_6.jpg') 50%/cover no-repeat;
}

.button {
  margin: 0 auto;
  width: 200px;
  height: 35px;

  line-height: 35px;
  background-color: #909b2c;
}

.button:hover {
  cursor: pointer;
  opacity: .8;
}

/* Footer */
.footer {
  text-align: center;
}

.copyright {
  padding: 5px;
}

.copyright a {
  text-decoration: none;
}

.copyright a,
.copyright a:visited {
  color: #fff;
}

